<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
     {% csrf_token %}
    <style type="text/css">
    .link { stroke: #ccc; }
    .nodetext { pointer-events: none; font: 10px sans-serif; }
    .canvas {height:500px}
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>